/* Кнопка "Открыть" */
h1 {
    text-align: center;  /* Центрируем текст */
    color: #4CAF50;  /* Зеленый цвет */
    margin-top: 20px;
    font-size: 2.5em; /* Увеличиваем размер шрифта */
}
button.buttonOpen {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px; /* Увеличиваем размеры */
    border: none;
    border-radius: 5px; /* Скругляем углы */
    cursor: pointer;
    font-size: 1em; /* Увеличиваем шрифт */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button.buttonOpen:hover {
    background-color: #45a049;
    transform: scale(1.1); /* Легкое увеличение кнопки при наведении */
}

button.buttonOpen:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Элемент списка */
.survey-item {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2em; /* Увеличиваем размер шрифта */
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.survey-item:hover {
    background-color: #f4f4f4; /* Легкое изменение фона при наведении */
}